<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <td class="text-left">{{ entry_store }}</td>
      <td class="text-left">{{ entry_keyword }}</td>
    </tr>
  </thead>
  <tbody>
    {% for store in stores %}
      <tr>
        <td class="text-left">{{ store.name }}</td>
        <td class="text-left">
          {% for language in languages %}
            <div class="input-group">
              <span class="input-group-addon">
                <img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" />
              </span>
              <input type="text" name="product_seo_url[{{ store.store_id }}][{{ language.language_id }}]" value="{% if product_seo_url[store.store_id][language.language_id] %}{{ product_seo_url[store.store_id][language.language_id] }}{% endif %}" placeholder="{{ entry_keyword }}" class="form-control" />
            </div>
            {% if error_keyword[store.store_id][language.language_id] %}
              <div class="text-danger">{{ error_keyword[store.store_id][language.language_id] }}</div>
            {% endif %}
          {% endfor %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2" class="text-right">
        <button type="button" id="seo-rewrite" class="btn btn-primary">Create SEO URL</button>
      </td>
    </tr>
  </tfoot>
</table>
<script type="text/javascript"><!--
  // SEO URL
  $('button[id=\'seo-rewrite\']').on('click', function() {
    var data = {};

    $.each({{ languages|json_encode() }}, function(code, language) {
      data[language.language_id] = $('input[name=\'product_description[' + language.language_id + '][name]\']').val();
    });

    $.ajax({
      url: 'index.php?route=tool/url&user_token={{ user_token }}',
      type: 'post',
      dataType: 'json',
      data: data,
      success: function(json) {
        $.each({{ stores|json_encode() }}, function(index, store) {
          $.each({{ languages|json_encode() }}, function(code, language) {
            $('input[name=\'product_seo_url[' + store.store_id + '][' + language.language_id + ']\']').val(json['result'][language.language_id]);
          });
        });
      }
    });
  });
//--></script>